* {
    box-sizing: border-box;
}

:root {
    --font-letter: "Public Sans", sans-serif;
    --primary-color: #143c3c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 173px;
    color: #fff;
    text-align: center;
    font-family: var(--font-letter);
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 99px;
    border: 1.5px solid var(--primary-color);
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    margin-top: 20px;
    color: #152427;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.23;
}

.section-desc {
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.section-title {
    position: relative;
    margin-left: 46px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.6rem;
    color: #152427;
}

.section-title::before {
    content: "";
    background: #152427;
    position: absolute;
    top: 50%;
    left: -46px;
    position: absolute;
    width: 25px;
    height: 1px;
}
/* Header */
.header {
    margin: 28px 0 88px;
}
.header-top {
    display: flex;
    align-items: center;
}

/* .header-top__sticky {
    position: sticky;
    top: 0px;
    z-index: 3;
    background: #fff;
    padding: 5px 0;
} */

.navbar {
    margin-left: auto;
}

.navbar__list {
    display: flex;
}

.navbar__link {
    position: relative;
    color: #575d5e;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.55;
    padding: 4px 19px;
}

.navbar__link--action::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color);
    bottom: -26px;
    left: 20px;
    z-index: 1;
}

.navbar__link:hover {
    color: #152427;
    text-shadow: 1px 0 0 currentColor;
}

.action {
    margin-left: 69px;
}

.header-action-signup {
    padding: 14px 52px 15px;
}
/* Hero */
.hero {
    position: relative;
    margin-top: 13px;
    display: flex;
}

.hero::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

.hero__content {
    margin-top: 103px;
}

.hero__heading {
    width: 368px;
    font-size: 5rem;
    font-family: var(--font-letter);
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    width: 341px;
    font-family: var(--font-letter);
    color: #575d5e;
    line-height: 1.56;
    font-size: 1.8rem;
}

.hero__media {
    margin: 60px 0 0 66px;
}

.hero__images {
    display: flex;
}

.hero__img--blur {
    z-index: 1;
    position: absolute;
    border-radius: 50%;
    right: 150px;
    top: 160px;
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
}

.hero__img {
    z-index: 2;
    margin: 0 10px;
    width: 202px;
    height: 466px;
    border-radius: 110px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    object-fit: cover;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__cta {
    padding: 14px 36px;
}

.watch-video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 36px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    transform: rotate(-45deg);
    transition-duration: 0.3s;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.watch-video:hover {
    border: 4px solid #83a17d;
    transform: rotate(135deg);
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.watch-video__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #83a17d;
}

.watch-video__text {
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.68;
    margin-left: 15px;
}

.hero__decor {
    position: absolute;
    right: 300px;
    top: 28px;
    z-index: 2;
}

.hero__decor:last-child {
    top: 300px;
    right: 50px;
    transform: rotate(180deg);
}

/* Customer */
.customer {
    padding: 42px 0 106px;
}

.customer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 77px 122px;
    border-radius: 99px;
    background: #e2eddf;
}

.customer__images--Agworld {
    margin-left: 11px;
}

/* Services */

.services__row {
    display: flex;
    align-items: center;
}

.services__heading {
    position: relative;
    margin-top: 12px;
    width: 520px;
}

.services__heading::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    background: #152427;
    bottom: 19px;
    right: 103px;
}

.controls {
    display: flex;
    gap: 17px;
    margin-left: 422px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: none;
    background: #e2eddf;
    cursor: pointer;
}
.control__btn:hover {
    background: var(--primary-color);
    color: #ffffff;
}

.services__list {
    display: flex;
    margin-top: 76px;
    gap: 16px;
}

.services-item {
    width: 370px;
}

.services-item:hover {
    border-radius: 20px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services-item__img {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.services-item__caption {
    padding: 24px 18px;
}
.services-item__heading {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.services-item__desc {
    margin-top: 18px;
    width: 268px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* Introduce */
.introduce {
    margin-top: 157px;
}

.introduce__body {
    display: flex;
    position: relative;
}

.introduce__media {
    position: relative;
    width: 52%;
}

.introduce__decor {
    position: absolute;
    left: 46px;
    top: 10px;
    transform: rotate(8deg);
}

.introduce__block {
    display: flex;
    gap: 21px;
    justify-content: space-between;
    align-items: flex-end;
    height: 570px;
}

.introduce__img {
    display: inline-block;
    width: 286px;
    height: 480px;
    border-radius: 210px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
}

.introduce__img--move {
    margin-top: 13px;
    align-self: flex-start;
}

.introduce__content {
    width: 48%;
    margin-left: 64px;
}

.introduce__desc {
    margin-top: 11px;
    width: 478px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
}

.introduce__list {
    margin-top: 36px;
}

.introduce__list + .introduce__list {
    margin-top: 58px;
}

.introduce-item {
    display: flex;
    gap: 24px;
    align-items: center;
    position: relative;
}

.introduce-item::after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 100%;
    height: 1px;
    background: #83a17d;
}

.introduce-item__stats {
    color: #152427;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.introduce-item__desc {
    width: 364px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* introduce summary */
.introduce-summary {
    position: absolute;
    padding: 19px 22px 11px;
    width: 144px;
    height: 144px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    bottom: 8px;
    right: -9px;
}
.summary__title {
    color: #152427;
    font-family: var(--font-letter);
    font-size: 1.4rem;
    font-weight: 600;
}

.summary__subtitle {
    margin-top: 6px;
    color: #575d5e;
    font-family: var(--font-letter);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    opacity: 0.4;
}

.summary__stats {
    margin-top: 10px;
    color: #152427;
    font-family: var(--font-letter);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.summary__process {
    margin-top: 3px;
}

.summary__process--max {
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.summary__process--now {
    width: 40%;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.summary__load {
    display: block;
    text-align: right;
    margin-top: 4px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1rem;
    color: #152427;
}

.summary__status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #eaeaea;
}

.summary__live {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #143c3c;
}

.summary__avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    object-fit: cover;
}

.summary__avatar + .summary__avatar {
    margin-left: -10px;
}

.summary__row {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.summary__label {
    color: #152427;
    font-family: var(--font-letter);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

/* Process */
.process {
    margin-top: 79px;
}

.process__list {
    margin-top: 81px;
}

.process__inner {
    padding-top: 36px;
}

.process__heading {
    position: relative;
    width: 477px;
}

.process__heading::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    background: #152427;
    bottom: 18px;
    right: -9px;
}

.process-item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 185px;
}

.process-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    left: 0px;
    bottom: 0;
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-item:hover {
    border-radius: 33px;
    background: #e2eddf;
    transition: 0.3s;
    transform: translateY(-16px);
}

.process-item:hover .process__link {
    display: block;
}
.process-item:hover .process__picture {
    display: block;
    transition: 0.3s;
}
.process-item__number {
    min-width: 110px;
    margin-left: 20px;
    color: var(--primary-color);
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
}

.process-item__heading {
    min-width: 176px;
    margin-left: 49px;
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.process__detail {
    display: flex;
    flex-direction: column;
}

.process__link {
    display: none;
    margin: 22px 0 0 67px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
}

.process__link:hover {
    text-decoration: underline;
}

.process-item__desc {
    width: 572px;
    margin-left: 175px;
    color: #7d8188;
    font-family: var(--font-letter);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.process__picture {
    display: none;
    position: absolute;
    width: 615px;
    height: 185px;
    object-fit: cover;
    margin-left: 169px;
    bottom: 0;
    border-radius: 33px;
}

/* Project */
.project {
    margin-top: 148px;
    background: var(--primary-color);
}

.project__body {
    position: relative;
    padding: 56px 0 63px;
}

.project__top {
    display: flex;
    align-items: center;
}

.project__heading {
    margin-top: 50px;
    min-width: 457px;
    position: relative;
    color: #e7f9f9;
}

.project__heading::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    background: #83a17d;
    bottom: 20px;
    right: 97px;
}

.project__info {
    margin: 50px 0 0 93px;
}

.project__desc {
    color: #6a8383;
    font-family: var(--font-letter);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    width: 590px;
}

.project__direction {
    margin-top: 13px;
    display: flex;
}

.project__move {
    display: block;
    color: #fff;
    font-family: var(--font-letter);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.project__move:hover {
    color: #83a17d;
}

.project__arrow {
    margin-left: 26px;
}

.project__video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    width: 100%;
    height: 544px;
}

.project__video--img {
    position: absolute;
    width: 100%;
    border-radius: 22px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    object-fit: cover;
    z-index: 1;
}

.project__video--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.project__decor--union {
    position: absolute;
    transform: rotate(176.985deg);
    top: 213px;
    right: -63px;
}

.project__decor--line {
    top: 0;
    position: absolute;
    right: -48px;
    top: 134px;
    z-index: 2;
}

/* Features */
.features {
    margin-top: 120px;
}

.features__title {
    width: 520px;
    text-align: center;
    margin: 0 auto;
}

.features__desc {
    padding-top: 20px;
    width: 547px;
    color: #7d8188;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62;
    margin: 0 auto;
}

.features__list {
    display: flex;
    margin-top: 103px;
    justify-content: space-around;
}

.features-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
}

.features-item:hover {
    transform: translateY(-59px);
    border-radius: 160px;
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transition: 0.3s;
}

.features-item__heading {
    margin-top: 25px;
    color: #152427;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.features-item__desc {
    max-width: 264px;
    margin-top: 11px;
    color: #7d8188;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}
